extends layout
block content
    div.wrapper
        div.top
            div.top1
                ul
                    li 糯米
                    li 新闻
                    li hao123
                    li 地图
                    li 视频
                    li 贴吧
                    li 登陆
                    li 设置
            div.blue
                span 更多产品
        div.clear
        div.logo
            img(src='images/baidu.png')
        div.sesh
            div.sesh2
                img(src='images/.png')
            div.sesh1
                span 百度一下
        div.footer
            div.weima
                ul
                    li 手机百度
                    li
                    span 快人一步
            div.weima
                ul
                    li 百度糯米
                    li
                    span 一元大餐
            div.wenzi
                span
                    a 把百度设为主页
                span
                    a 关注百度
                span
                    a @2016 Baibu
                div
                    span
                        a @2016 Baibu
                    span
                        a 使用百度前必读
                    span
                        a 意见反  京Icp证030173号
                        img(src="imageso.png")
                div
                    img(src="images/img1.png")
                    a 京公网安备11000002000001号
